*{
margin:0px;
padding:0px;
box-sizing:border-box;
list-style:none;
}
html,body{
width:100%;
height:100%;
font-family:sans-serif;
}
.none{
display:none;
}
a{
text-decoration:none;
}
.container{
max-width:1470px;
margin:0 auto;
padding:0 15px;
}
.header {
   padding: 4px 0;
   background: teal;
}


.header-title {
   text-align: center;
}